html, body {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}


.butt {
  position: relative;
  top: -10px;
  left: 240px;
}

.butt2 {
  position: relative;
  top: -30px;
  left: -20px;
}

.repolists {
  position: absolute;
  left: 100px;
}

.repolists md-item {
  display: inline-block;
}

.repobutt {
   margin-left: 10px;
   margin-top: 20px;
   padding: 15px;
}

.tool {
  width: 200px;
  padding-top: 10px;
  padding-left: 10px;
}

.toast {
  margin-left: 10px;
  margin-top: 5px;
}

.toasts {
   background-color: rgba(0, 0, 0, 0.5); 
   width: 350px;
   height: 40px;
}

#image {
  width: 250px;
  height: 250px;
}

img {
  position: relative;
  height: 250px;
  width: 250px;
  top: -15px;
  left: -16px;
}

#info {
  width: 600px;
  height: 250px;
}

.profile {
  letter-spacing: 1.5px;
  font-size: 25px;
  padding: 10px;
}

#repo {
  height: 350px;
}

.progress {
  position: absolute;
  top: 300px;
  left: 400px;
}

md-toolbar p{
    font-size: 30px; 
    margin: 0px auto;
}

md-toolbar img {
  width: 60px;
  height: 50px;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


